
.blog {
    padding: 80px 15px;
    @include mobile{
        padding: 40px 15px;
    }
    h2 {
        margin-top: 16px;
        margin-bottom: 32px;
        padding-left: 16px;
        font-size: $fs-sec-title;
        border-left: 8px solid #9F1213;
        font-weight: bold;
        @include mobile{
            margin-bottom: 24px;
        }
    }
}
.blog-list{
    margin-bottom: 124px;
    @include pad{
        margin-bottom: 80px;
    }
    @include mobile{
        margin-bottom: 64px;
    }
}

.list-item{
    display: flex;
    margin-bottom: 60px;
    @include pad{
        margin-bottom: 24px;
    }
    @include mobile{
        flex-wrap: wrap;
    }
    &:hover{
        transform: scale(1.03);
        @include pad{
            transform: scale(1.01);
        }
    }
    img{
        width: 40%;
        @include mobile{
            width: 100%;
        }
    }
}



.blog-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 24px;
    @include mobile{
        padding: 0;
        width: 100%;
    }
}

.blog-text {
    @include mobile{
        width: 100%;
    }
    h3 {
        font-size: $fs-large;
        color: $color-d-red;
        font-weight: bold;
        @include pad{
            font-size: $fs-bigger
        }
    }

    h4 {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: $color-black;
        font-size: $fs-big;
        @include pad {
            font-size: $fs-normal
        }

        span {
            font-size: $fs-normal;
            font-weight: normal;
        }
    }

    p {
        margin-top: 16px;
        color: #555555;
        font-size: $fs-big;
        @include pad {
            font-size: $fs-normal
        }
        @include mobile{
            display: none;
        }
    }
}

.b-more {
    color: $color-d-red;
    font-size: $fs-larger;
    font-weight: bold;
    @include pad{
        display: none;
    }
}
.s-more{
    display: none;
    @include pad{
        display: inline;
    }
}
