//banner
.banner {
	background-image: url(../images/desktop/home-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 787px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include pad{
		background-image: url(../images/tablet/home-header.png);
	}
	@include mobile{
		background-image: url(../images/mobile/home-header.png);
		background-position: center;
	}
	@include s-mobile{
		height: 396px;
	}
}

.banner-content {
	text-align: right;
	margin-right: 12px;

	p {
		font-weight: bold;
		font-size:$fs-large;
		color: $color-d-red;
		@include mobile {
			font-size: $fs-bigger;
		}
		@include s-mobile{
			font-size: $fs-normal;
		}
	}

	h2 {
		font-size: $fs-big-title;
		color: $color-d-red;
		margin-bottom: 10px;
		font-weight: 900;
		@include mobile {
			font-size: $fs-large;
		}
		@include s-mobile {
			font-size: $fs-bigger;
		}
	}
	

	a {
		display: inline-block;
		color: $color-white;
		background-color: $color-red;
		font-size: $fs-big;
		text-align: center;
		padding: 6px 12px 6px 12px;
	}
}


section {
	padding: 80px 0;
	@include mobile{
		padding: 40px 0;
	}
	h2 {
		text-align: center;
		font-size: $fs-sec-title;
		color: $color-d-red;
		font-weight: bold;
		margin-bottom: 20px;
		@include mobile {
			font-size: $fs-bigger;
		}
	}
}


//specialty
.specialty{
	background-color: $color-bg;
}
.specialty-list {
	display: flex;
	justify-content: space-between;
	margin-left: -12px;
	margin-right: -12px;
	@include pad{
		flex-wrap: wrap;
		
	}
}

.specialty-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 12px;
	width: 25%;
	@include pad {
		width: 50%;
	}
	@include mobile{
		width: 100%;
	}

	img {
		width: 100px;
		height: 100px;
	}

	h3 {
		color: $color-d-red;
		font-weight: bold;
		font-size: $fs-bigger;
		margin-top: 24px;
		margin-bottom: 8px;
	}
}



//classic
.classic-list {
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
	margin-right: -12px;
	margin-left: -12px;
	@include pad{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 24px;
	}
}

.classic-item {
	width: 33.333%;
	padding: 0 12px;
	@include mobile{
		width: 100%;
	}

	h3 {
		margin-top: 8px;
		text-align: center;
		font-size: $fs-sec-title;
		color: $color-red;
		font-weight: bold;
		font-style: italic;
	}
}


//joint
.joint{
	background-image: url(../images/desktop/background-desktop.png);
	background-size: cover;
	background-repeat: no-repeat;
	@include pad{
		background-image: url(../images/tablet/background-tablet.png);
	}
	@include mobile{
		background-image: url(../images/mobile/background-phone.png);
	}
	h2{
		color: $color-white;
	}
}
.joint-list {
	display: flex;
	justify-content: center;
	@include pad{
		flex-wrap: wrap;
	}
}

.joint-item {
	width: 50%;
	@include pad{
		width: 100%;

	}
	&:nth-child(2) {
		@include pad{
			margin-top: 24px;
		}
	}
	h3 {
		color: $color-red;
		font-size: $fs-sec-title;
		font-weight: bold;
		background: $color-white;
		text-align: center;
		padding: 8px 0;
		font-style: italic;
	}
}


//guest
.guest-list{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-left: -12px;
	margin-right: -12px;
	@include pad{
		flex-wrap: wrap;
	}
}
.guest-item{
	padding: 0 12px;
	width: 25%;
	@include pad{
		width: 50%;
		margin-top: 24px;
	}
	@include mobile{
		margin-bottom: 16px;
		width: 100%;
	}
	.shadow{
		box-shadow: 0px 2px 6px #00000029;
	}

}
.guest-text{
	padding: 16px;
	display: flex;
	flex-direction: column;
	height: 248px;
	p{
		flex-grow: 1;
	}
	time {
		display: block;
		color: #707070;
		font-size: $fs-small;
	}
}




//contact
.contact{
	background-color: $color-bg;
}
.contact-content{
	margin: 0 auto;
	width: 50%;
	@include pad{
		width: 75%;
	}
	@include mobile{
		width: 100%;
	}
	p {
		font-size: $fs-big;
		margin-bottom: 24px;
	}
}
.box{
	font-size: $fs-normal;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 16px;
	input{
		margin-top: 8px;
		padding: 6px 12px;
		width: 100%;
		border: 1px solid black;
	}
	textarea{
		width: 100%;
		resize: none;
	}
}
.check{
	display: flex;
	margin-bottom: 48px;
	@include mobile{
		margin-bottom: 24px;
	}
	label{
		font-size: $fs-normal;
		margin-bottom: 0;
	}
}
.submit{
	display: block;
	margin: 0 auto;
	font-size: $fs-normal;
	width: 66%;
	padding: 16px 0;
	color: $color-white;
	background-color: $color-red;
	border: none;
	cursor:pointer;
	&:hover{
		background-color: $color-d-red;
	}
}
