.loc {
    padding: 80px 0;
    h2 {
        margin-top: 16px;
        margin-bottom: 32px;
        padding-left: 16px;
        font-size: $fs-sec-title;
        border-left: 8px solid #9F1213;
        font-weight: bold;
        @include pad{
            margin-top: 0px;
        }
    }
}

.area{
    width: 100%;
    display: flex;
    align-items: center;
    label{
        font-size: $fs-bigger;
        margin-right: 16px;
        @include mobile{
            width: 20%;
            font-size: $fs-normal;
            margin-right: 1%;
        }
    }
    select{
        width: 300px;
        padding: 8px 12px;
        @include mobile{
            width:79%;
        }
        option{
            padding:6px 12px;
        }
    }
}

.loc-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    @include mobile{
        margin-top: 24px;
    }
}

.loc-item{
    width: 32%;
    margin-bottom: 48px;
    margin-right: 2%;
    @include pad{
        width: 48%;
        margin-right: 4%;
        margin-bottom: 24px;
    }
    @include mobile{
        width: 100%;
        margin-right: 0;
    }
    &:nth-child(3n){
        margin-right: 0;
        @include pad{
            margin-right: 4%;
        }
        @include mobile{
            margin-right: 0;
        }
    }
    &:nth-child(2n) {
        @include pad{
            margin-right: 0;
        }
    }
    h3{
        padding: 8px 0 8px 24px;
        color: #212529;
        font-size: $fs-bigger;
        border: 1px solid #00000020;
    }
    .item-data{
        padding: 16px 24px;
        border: 1px solid #00000020;
        li{
            display: flex;
            font-size: $fs-big;
            color: #212529;
            margin-bottom: 8px;
            a:hover{
                opacity: 0.5;
            }
            i{
                font-family: "Font Awesome 5 Free";
                font-weight: bold;
                margin-right: 12px;
            }
        }
    }
    .data-btn{
        display: block;
        background: $color-black;
        padding: 16px;
        color: $color-white;
        text-align: center;
        font-size: 19px;
        &:hover{
            color: $color-red;
        }
    }
}
