
.blog {
    padding: 80px 15px;
    h2 {
        margin-top: 16px;
        margin-bottom: 32px;
        padding-left: 16px;
        font-size: $fs-sec-title;
        border-left: 8px solid #9F1213;
        font-weight: bold;
    }
}
.blog-list{
    margin-bottom: 124px;
}

.list-item{
    display: flex;
    margin-bottom: 60px;
    &:hover{
        transform: scale(1.03);
    }
    img{
        width: 40%;
    }
    .blog-article{
        width: 60%;
    }
}

.blog-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 24px;
}

.blog-text {
    h3 {
        font-size: $fs-large;
        color: $color-d-red;
        font-weight: bold;
    }

    h4 {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: $color-black;
        font-size: $fs-big;

        span {
            font-size: $fs-normal;
            font-weight: normal;
        }
    }

    p {
        margin-top: 16px;
        color: #555555;
        font-size: $fs-big;
    }
}

.b-more {
    color: $color-d-red;
    font-size: $fs-larger;
    font-weight: bold;
}
.s-more{
    display: none;
}

@media (max-width:992px) {
    .blog-list {
        margin-bottom: 80px;
    }
    .list-item {
        margin-bottom: 24px;
        &:hover {
            transform: scale(1.01);
        }
    }
    .blog-text {
        h3 {
            font-size: $fs-bigger;
        }

        h4 {
            font-size: $fs-normal;
        }

        p {
            font-size: $fs-normal;
        }
    }
    .b-more{
        display: none;
    }
    .s-more{
        display: inline;
    }
}
@media (max-width:767px) {
    .blog {
        padding: 40px 15px;

        h2 {
            margin-bottom: 24px;
        }
    }
    .blog-list {
        margin-bottom: 64px;
    }
    .list-item {
        flex-wrap: wrap;
        img {
            width: 100%;
        }

        .blog-article {
            padding: 0;
            width: 100%;
            .blog-text{
                width: 100%;
                p{
                    display: none;
                }
            }
        }
    }
}