$color-red: #AA0601;
$color-d-red: #650300;
$color-black: #000000;
$color-bg: #FBF2F2;
$color-white: #ffffff;
$fs-big-title: 64px;
$fs-sec-title: 48px;
$fs-third-title:42px;
$fs-larger: 36px;
$fs-large: 32px;
$fs-bigger: 24px;
$fs-big: 20px;
$fs-normal: 16px;
$fs-small: 14px;